<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%csharp%>
        int page;
        page = DTRequest.GetQueryInt("page", 1);
        int category_id;
        category_id = DTRequest.GetQueryInt("category_id", 0);
        int totalcount;
        string pagelist;
    <%/csharp%>
    <%set string category_title=get_category_title(category_id,"品牌形象")%>
    <title><%if category_id!=0%>{category_title}-<%/if%>{config.webtitle}</title>
    <meta content="{config.webkeyword}" name="keywords" />
    <meta content="{config.webdescription}" name="description" />
    <link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css"/>    
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="<%templateskin%>/js/global.js"></script>
    <script type="text/javascript" src="<%templateskin%>/js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="<%templateskin%>/js/popwin.js"></script>
    <!--[if IE 7]> 
	    <link href="<%templateskin%>/css/IE7.css" rel="stylesheet" type="text/css" media="all" />
    <![endif]-->
    
    <!--[if IE 6]>
    	<script type="text/javascript" src="<%templateskin%>/js/DD_belatedPNG.js"></script>
        <script>
          /* EXAMPLE */
          DD_belatedPNG.fix('*');
        </script>
	<![endif]-->
    <script type="text/javascript">
        var ind = 4;
    </script>

</head>

<body>
    <%template src="_header.html"%>
    <div class="container">        
        <!-- banner -->
        <div class="banner img_4"></div>
        <!-- main -->        
        
        <div id="sitemap">
            <div class="left">
                <span class="cn">品牌形象</span>     
                <span class="en">Brand Image</span>
            </div>
            <div class="right">
                <i class="iconfont icon-home"></i>
                <a href="<%linkurl("index")%>">首页</a>
                <i class="iconfont icon-arrow"></i>
                营销网络                
                <i class="iconfont icon-arrow"></i>
                品牌形象
            </div>
            <div class="clear"></div>
        </div>
        <div id="main">
            
                <div id="goods_list">
                        <ul>
                            <%set DataTable photo_list = get_article_list("photo", category_id, page, "status=0", "id asc,add_time desc", out totalcount, out pagelist, "photo", category_id, "__id__")%>
                            <%foreach(DataRow dr in photo_list.Rows)%>
                            <li>
                                <a href="javascript:void(0)" class="img" name="<%linkurl("photo_show",{dr[id]})%>" title="{dr[title]}">
                                    <img src="{dr[img_url]}" alt="{dr[title]}" />
                                    <p class="cover caption">{dr[title]}</p>
                                    <p class="zoom"></p>
                                </a>
                            </li> 
                        <%/foreach%>
                        </ul>
                    </div>
                <div class="pages">{pagelist}</div>
          
        </div>
        <%template src="_footer.html"%>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#goods_list ul li').hover(function () {
                $(".cover", this).stop().animate({ bottom: '0px' }, { queue: false, duration: 110 });
                $(".zoom", this).stop().animate({ top: '40px' }, { queue: false, duration: 200 });
            }, function () {
                $(".cover", this).stop().animate({ bottom: '-50px' }, { queue: false, duration: 110 });
                $(".zoom", this).stop().animate({ top: '-50px' }, { queue: false, duration: 200 });
            });
        });
    </script>
</body>
</html>
